* {
  margin: 0;
  padding: 0;
}

.barralateral {
  position: relative;
  background-color: #007a87;
  width: 22%;
  height: 100vh;
}

.foto {
  width: 40%;
  position: absolute;
  top: 30%;
  left: 25%;
}

.menu {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 23%;
  text-align: center;
}
